<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sacar</title>
</head>
<body>

{% if message %}
<label>{{ message }}</label>
{% endif %}

<form action="{% url 'sacar' %}" method="post" id="sac-form">
    {% csrf_token %}
    <label for="id_numero_conta" class="required">Número da Conta</label> <input type="text" name="conta" required id="id_numero_conta"><br>
    <label for="id_numero_agencia" class="required">Número da Agencia</label> <input type="text" name="agencia" required id="id_numero_agencia"><br>
    <label for="id_numero_valor" class="required">Valor de Saque</label> <input type="text" name="valor" required id="id_numero_valor"><br>
    <input type="submit" value="Sacar">

</form>

</body>
</html>